:root {
  --primary-clr: hsl(180, 29%, 50%);
  --bg-clr: hsl(180, 52%, 96%);
  --tablets-clr: hsl(180, 31%, 95%);
  --gray-cyan: hsl(180, 8%, 52%);
  --dark-gray-cyan: rgb(44, 58, 58);
  --transition: all 0.15s;
  font-size: 15px;
}


* {
  margin: 0;
  Padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-clr);
}

h1, h2, h3, li, button {
  font-family: 'Spartan', sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

li {
  list-style: none;
}



.header {
  background: repeat-x center url("../images/bg-header-desktop.svg");
  background-color: var(--primary-clr);
  height: 157px;
  width: 100%;
  margin-bottom: 6rem;
}


.card, .filter {
  background: white;
  border-radius: 5px;
  box-shadow: 0 6px 12px rgba(44, 58, 58, 0.1);

  width: 78%;
  max-width: 1100px;
  margin: 0 auto 2rem;
  padding: 2rem 3rem;

  display: flex;
  justify-content: space-between;
}


/* CARD________________________________________________________________________ */


.card--featured {
  border-left: 5px solid var(--primary-clr);
}


.info, .info__top-details, .categories, .tablets {
  display: flex;
}

/* INFO___________________ */

.info {
  width: 600px;
}

.info__logo {
  width: 100px;
  height: 100px;
  margin-right: 2rem;
}

.info__text {
  flex-grow: 1;
}

.info__top-details {
  align-items: center;
  margin-bottom: 1.1rem;
}

.info__company {
  color: var(--primary-clr);
  margin-right: 1em;
}

.info__new, .info__featured {
  color: white;
  background: var(--dark-gray-cyan);
  font-size: 0.75rem;
  font-weight: 700;
  padding: 0.7em;
  padding-bottom: 0.3em;
  border-radius: 30px;
}

.info__new {
  background: var(--primary-clr);
  margin-right: 1em;
}

.info__position {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 1.1rem;
  transition: var(--transition);
}

.info__position:hover {
  color: var(--primary-clr);
  cursor: pointer;
}

.info__list {
  color: var(--gray-cyan);
}

.info__list li {
  display: inline-block;
}

.info__list li:nth-child(-n+2) {
  margin-right: .8em;
}

.info__list li:nth-child(-n+2)::after {
  display: inline-block;
  margin-left: 0.6em;
  margin-bottom: 3px;
  content: '';
  width: 4px;
  height: 4px;
  background: var(--gray-cyan);
  border-radius: 50%;;
  font-size: 1.2rem;
  font-weight: 700;
}


/* TABLETS_________________ */

.tablets {
  color: var(--primary-clr);
}

.tablets li {
  font-weight: 700;;
  font-size: 0.8rem;
  background: var(--tablets-clr);
  border-radius: 5px;
  transition: var(--transition);
}

/* CATEGORIES TABLETS_________________ */

.categories {
  align-items: center;
}

.categories__tablets.tablets li {
  padding: 0.85em 0.65em 0.6em;
  margin-left: 1rem;
}

.categories__tablets.tablets li:hover {
  background-color: var(--primary-clr);
  color: white;
  cursor: pointer;
}


/* FILTER________________________________________________________________________ */

/* FILTER TABLETS_________________ */

.filter__tablets li {
  margin-right: 1rem;
}

.filter__tablets p {
  display: inline-block;
  padding: 0.5em;
}

.filter__tablets button {
  color: white;
  background: var(--primary-clr);
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0.5rem;
  transition: var(--transition);
}

.filter__tablets button:hover {
  background: var(--dark-gray-cyan);
}

.filter__tablets img {
  margin-bottom: -2px;
}

.filter {
  position: relative;
  bottom: 140px;
  margin-bottom: -92px;
}

.filter__clear {
  border: none;
  color: var(--primary-clr);
  font-weight: 700;
  /* padding: 0.5em; */
}

.filter__clear:hover {
  cursor: pointer;
  text-decoration: underline;
}



  /* SMALL SCREENS________________________________________________________________________ */
@media (max-width: 1200px) {

  .info__position {
    font-size: 1.1rem;
  }
  
  .info__list li {
    font-size: 0.9rem;
  }

  /* TABLETS_________________ */
    .tablets {
    flex-wrap: wrap;
  }

  .categories__tablets.tablets li {
    margin-left: 0;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .card {
    padding-right:1.5rem;
  }

  .filter__tablets li {
    margin-bottom: 1rem;
  }


}

@media (max-width: 1020px) {

  /* CARD________________________________________________________________________ */

  .header {
    margin-bottom: 4rem;
  }

  /* CARD________________________________________________________________________ */

  .card, .filter {
    /* margin-left: 2rem;
    margin-right: 2rem; */
    width: 90%;
  }
  
  .card {
    flex-direction: column;
    padding: 2.5rem 1.5rem 0;
    margin-bottom: 3rem;
  }

  
  /* INFO___________________ */
  .info {
    width: 100%;
    margin-bottom: 3rem;
    position: relative;
  }
  
  .info__logo {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -61px;
    left: 0;
  }
  
  .info::after {
    display: block;
    content: '';
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    height: 1px;
    width: 100%;
    background: var(--gray-cyan);
  }

  /* FILTER________________________________________________________________________ */
  .filter {
    padding: 1rem 1.5rem 0;
  }

  .filter__clear {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }

}

@media (max-width: 375px) {
  .header {
    background: no-repeat center url("../images/bg-header-mobile.svg");
    background-color: var(--primary-clr);
}



}
/* ATTRIBUTION________________________________________________________________________ */
.wrapper {
  min-height: calc(100vh - 20px);
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 4rem auto 0.5rem;
  height: 20px;
}


.attribution a {
  color: var(--primary-clr);
}